flow.json
[
    {
        "id": "d27cb1b3135afea0",
        "type": "mqtt out",
        "z": "33dad7de1f6b6a6a",
        "name": "",
        "topic": "timestamp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c5b954e98d6b5e59",
        "x": 890,
        "y": 220,
        "wires": []
    },
    {
        "id": "453d864c56170912",
        "type": "inject",
        "z": "33dad7de1f6b6a6a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 120,
        "y": 220,
        "wires": [
            [
                "d27cb1b3135afea0"
            ]
        ]
    },
    {
        "id": "ce02343e3c0f73b4",
        "type": "mqtt in",
        "z": "33dad7de1f6b6a6a",
        "name": "listen things",
        "topic": "#",
        "qos": "2",
        "datatype": "auto",
        "broker": "c5b954e98d6b5e59",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 420,
        "wires": [
            [
                "01e4f4e83259e897"
            ]
        ]
    },
    {
        "id": "90fcd094c6197c2f",
        "type": "debug",
        "z": "33dad7de1f6b6a6a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 420,
        "wires": []
    },
    {
        "id": "182dbfb73da5c995",
        "type": "http in",
        "z": "33dad7de1f6b6a6a",
        "name": "",
        "url": "/pub/:topic/:payload",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "c8b78018c1256560"
            ]
        ]
    },
    {
        "id": "2fe4dd5cdf3ec515",
        "type": "mqtt out",
        "z": "33dad7de1f6b6a6a",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c5b954e98d6b5e59",
        "x": 670,
        "y": 280,
        "wires": []
    },
    {
        "id": "c8b78018c1256560",
        "type": "function",
        "z": "33dad7de1f6b6a6a",
        "name": "create message",
        "func": "msg.topic = msg.req.params.topic.toString();\nmsg.payload = msg.req.params.payload.toString();\nmsg.qos = 2;\nmsg.retain = false;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 340,
        "wires": [
            [
                "2fe4dd5cdf3ec515",
                "8522664aca8e75ab"
            ]
        ]
    },
    {
        "id": "8522664aca8e75ab",
        "type": "function",
        "z": "33dad7de1f6b6a6a",
        "name": "create response",
        "func": "msg.payload = {\n    success: true,\n    message: \"published \" +\n        msg.req.params.topic +\n        \"/\" +\n        msg.req.params.payload\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 340,
        "wires": [
            [
                "4bb936a3923460f6"
            ]
        ]
    },
    {
        "id": "4bb936a3923460f6",
        "type": "http response",
        "z": "33dad7de1f6b6a6a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 910,
        "y": 340,
        "wires": []
    },
    {
        "id": "01e4f4e83259e897",
        "type": "function",
        "z": "33dad7de1f6b6a6a",
        "name": "create query",
        "func": "// get microtime\nvar timestamp = new Date().getTime()/1000;\n\n//paid it with trailing zeroes\ntimestamp = timestamp.toString() + \"000\";\n\n//trim to exact  length 10 + 1 + 3\ntimestamp = timestamp.substring(0,14);\n\nvar strQuery = \"INSERT INTO thingData (topic,payload,timestamp,deleted) VALUES ('\" + escape(msg.topic) + \"','\" + escape(msg.payload) + \"','\" + timestamp +\"', 0);\";\nmsg.topic = strQuery;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 420,
        "wires": [
            [
                "a70613eb15f83211"
            ]
        ]
    },
    {
        "id": "a70613eb15f83211",
        "type": "mysql",
        "z": "33dad7de1f6b6a6a",
        "mydb": "315d31040b2beac9",
        "name": "",
        "x": 620,
        "y": 420,
        "wires": [
            [
                "90fcd094c6197c2f"
            ]
        ]
    },
    {
        "id": "f236e238ba2f63aa",
        "type": "http in",
        "z": "33dad7de1f6b6a6a",
        "name": "",
        "url": "/get/:topic",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 500,
        "wires": [
            [
                "303bdea153683d5c"
            ]
        ]
    },
    {
        "id": "85f659c2f8630f65",
        "type": "http in",
        "z": "33dad7de1f6b6a6a",
        "name": "",
        "url": "/get/:topic/last/:count",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "303bdea153683d5c"
            ]
        ]
    },
    {
        "id": "303bdea153683d5c",
        "type": "function",
        "z": "33dad7de1f6b6a6a",
        "name": "create query",
        "func": "// if required record count is not specified\n// set default to 1\nif(!msg.req.params.count)\n    msg.req.params.count = 1;\n// build the sql query\nmsg.topic = \"SELECT id,topic,payload,timestamp \" + \n            \"FROM thingData \" +\n            \"WHERE topic='\" + escape(msg.req.params.topic) + \"' \" +\n            \"AND deleted=0 \" +\n            \"ORDER BY id DESC \" +\n            \"LIMIT \" + msg.req.params.count + \";\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 540,
        "wires": [
            [
                "fa591c3513ae3d4e"
            ]
        ]
    },
    {
        "id": "fa591c3513ae3d4e",
        "type": "mysql",
        "z": "33dad7de1f6b6a6a",
        "mydb": "315d31040b2beac9",
        "name": "",
        "x": 540,
        "y": 540,
        "wires": [
            [
                "11035fcf149d5b3a"
            ]
        ]
    },
    {
        "id": "a59c26cdd59c0f47",
        "type": "http response",
        "z": "33dad7de1f6b6a6a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 910,
        "y": 540,
        "wires": []
    },
    {
        "id": "11035fcf149d5b3a",
        "type": "function",
        "z": "33dad7de1f6b6a6a",
        "name": "prepare response",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 540,
        "wires": [
            [
                "a59c26cdd59c0f47"
            ]
        ]
    },
    {
        "id": "c5b954e98d6b5e59",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.49.1",
        "port": "1883",
        "clientid": "node-red",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "315d31040b2beac9",
        "type": "MySQLdatabase",
        "name": "",
        "host": "172.18.0.1",
        "port": "3306",
        "db": "tSeriesDB",
        "tz": "",
        "charset": "UTF8"
    }
]